.contato-container{
    margin: 30px 100px;
}

#contato-inputarea{
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;
}

.contato-botao{
    border: none;
    height: 30px;
}

.mensagem{
    height: 100px;
}

.mensagem::placeholder{
    position: absolute;
    top: 0; 
    left: 0;
}