
.header{
    display: flex;
    align-items: center;
    background-color: #000;
    height: 60px;
    justify-content: space-around;
}

#logo{
    color: white;
}

nav ul{
    display: flex;
    gap: 30px;
    color: #fff;
    list-style: none;
}

nav ul li a{
    font-weight: 800;
    color: #fff;
}