
.header{
    display: flex;
    align-items: center;
    background-color: rgb(78, 74, 74);
    height: 60px;
    justify-content: space-around;
}

#logo{
    color: white;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;

}

nav ul{
    display: flex;
    gap: 30px;
    color: #fff;
    list-style: none;
}

nav ul li a{
    font-weight: 800;
    color: #fff;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
}
